<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Something went wrong — ERRORDOGGER</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">

    <script src="/client.js" async></script>
  </head>
  <body>
    <header>
      <h1>
        Something went wrong.
      </h1>
    </header>

    <nav>
      <a href="/">Home</a>
    </nav>

    <main>{}</main>

    <footer>
      <p>🐣 This fluffy baby chick was hatched on <a href="https://glitch.com">Glitch dot com</a>.</p>
      <p>&copy; Nick Fagerlund, 2019 — present. Find me at <a href="https://github.com/nfagerlund/">🐙</a> • <a href="https://roadrunnertwice.dreamwidth.org">🌀</a> • <a href="https://mastodon.social/@nfagerlund">🐘</a> • <a href="https://twitter.com/nfagerlund">🦜</a></p>
    </footer>

  </body>
</html>
