<!DOCTYPE html>
{# The main layout template that most pages inherit from. #}
{# Context: common: Common #}
<html lang="en">
  <head>
    <title>{{common.title}} — EARDOGGER</title>
    <meta name="description" content="A tool for marking your place when you read serialized stuff on the web.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/public/style.css?v={{cache_buster()}}">

    <script src="/public/client.js?v={{cache_buster()}}" async></script>
  </head>
  <body>
    <header>
      <h1>
        {{common.title}}
      </h1>

      {% if common.user %}
        <form id="logout" action="/logout" method="post">
          {{common.user.username}}
          <button type="submit">Log out</button>
          <input type="hidden" name="csrf_token" value="{{common.csrf_token}}" />
        </form>
      {% endif %}
    </header>

    <nav>
      <a href="/">Home</a> | <a href="/install">Install</a> | <a href="/faq">About</a>{% if common.user %} | <a href="/account">Account</a>{% endif %}
    </nav>

    <main>{% block body %}{% endblock body %}</main>

    <footer>
      <p>&copy; Nick Fagerlund, 2019 — present. Find me at <a href="https://github.com/nfagerlund/">🐙</a> • <a href="https://roadrunnertwice.dreamwidth.org">🌀</a> • <a href="https://mastodon.social/@nfagerlund">🐘</a></p>
    </footer>

  </body>
</html>
