{# The account page. #}
{# Context: common: Common, tokens_list: TokensList, sessions_list: SessionsList #}
{% extends "_layout.html.j2" %}
{% block body %}
<h2>Change password</h2>

<details>
  <summary>Show the change password form</summary>

  <form action="/changepassword" method="post" id="changepasswordform">
    <label for="password">Current password</label>
    <input type="password" id="password" name="password" />

    <label for="new_password">New password</label>
    <input type="password" id="new_password" name="new_password" />

    <label for="new_password_again">Confirm new password</label>
    <input type="password" id="new_password_again" name="new_password_again" />

    <input type="hidden" name="csrf_token" value="{{common.csrf_token}}" />

    <button type="submit">Change password</button>
  </form>
</details>

<h2>Change email</h2>

<details>
  <summary>Show the change email form</summary>

  <p>Your current email is <strong>{{common.user.email | unwrap_or("not set")}}</strong>. You can also remove your email by submitting this form with an empty value.</p>

  <form action="/change_email" method="post" id="change_email_form">
    <label for="new_email">New email address</label>
    <input type="text" name="new_email" id="change_email_new_email" />

    <label for="change_email_password">Password</label>
    <input type="password" name="password" id="change_email_password" />

    <input type="hidden" name="csrf_token" value="{{common.csrf_token}}" />

    <button type="submit">Change email</button>
  </form>
</details>

<h2>Delete account</h2>

<details>
  <summary>Show the delete account form</summary>

  <p>
    You can use this form to permanently delete your account. This also deletes all
    of your bookmarks. There is no undo. Once your account is deleted, anyone
    (including a future version of yourself) can make a new account using your old username.
  </p>

  <p>
    In order to delete, you must type the exact phrase <strong>"delete my account"</strong>
    (without the quotation marks) in the text field. Not trying to trick you or anything,
    I just don't want it to be possible to do this by accident.
  </p>

  <form action="/delete_account" method="post" id="delete_account_form">
    <label for="confirm_delete_account">Type "delete my account" here</label>
    <input type="text" name="confirm_delete_account" id="confirm_delete_account" />

    <label for="delete_account_password">Password</label>
    <input type="password" name="password" id="delete_account_password" />

    <input type="hidden" name="csrf_token" value="{{common.csrf_token}}" />

    <button type="submit">DELETE ACCOUNT</button>
  </form>
</details>

<h2>Manage login sessions</h2>

<p>This is a list of all your currently active logins. You can remotely log out of any other device by deleting the associated login session.</p>

{% include "fragment.sessions.html.j2" %}

<h2>Manage access tokens</h2>

<p>This is a list of your access tokens, which are associated with <a href="/install">personal bookmarklets</a>. <button type="button" class="help-reveal" data-help-target="help-account-access-token">(huh?)</button></p>

<div id="help-account-access-token" class="help help-hidden">
  <p>When you generate a personal <span class="cartouche">🐶 Mark my spot</span> bookmarklet, we generate some secret random text (a token) and associate it with your account. The bookmarklet sends that text when marking a URL, which lets us know whose dogears to update without requiring you to leave your current page. Basically the token lets the bookmarklet act like it's logged in as you, but only in limited ways. (It can only be used to <em>update</em> your dogears; it can't even list them.)</p>
</div>

<p>If you generated some bookmarketlets that you aren't using anymore, you can revoke their tokens. If you accidentally revoke a token that's still in use, that bookmarklet will keep working but will switch to slow mode. You can <a href="/install">generate a new one</a> to enable fast updates again.</p>

{% include "fragment.tokens.html.j2" %}

{% endblock body %}
