{# The faq/news page. #}
{# Context: common: Common #}
{% extends "_layout.html.j2" %}
{% block body %}
<h2 id="what-is">What's Eardogger?</h2>

<p>Eardogger is a bookmark tool for binge-reading comics and books on the web.</p>

<p>I made it because there's lots of nice ways to follow an ongoing comic, but I couldn't find a nice way to <em>catch up on a backlog.</em> I kept losing my place, especially if I tried to pick up reading again on a different device.</p>

<p>Normal web browser bookmarks were too fiddly. I wanted them to just act like the old bus pass that marks my place in a physical book: <strong>there's one bookmark, and you move it to your new spot when you pause.</strong></p>

<p>So Eardogger does that.</p>

<h2 id="how-to">How to Use It</h2>

<ol>
  <li>Sign up for a free account.</li>
  <li><a href="/install">Install the "Mark my spot" and "Where was I" bookmarklets</a> on all your devices and browsers.</li>
  <li>To pause whatever you're reading, click "Mark my spot."
    <ul>
      <li>This updates your existing bookmark in just one click! (Or, if you didn't have a bookmark for that site yet, it'll ask you to make one.)</li>
    </ul>
  </li>
  <li>The <a href="/">Eardogger homepage</a> has a list of what you've been reading lately.</li>
  <li>If you left a tab open but then read further in that site on another device, click "Where was I" to catch up.</li>
</ol>

<h2 id="news">News</h2>

<h3>June 8, 2024</h3>

<p>For reasons that I promise make sense from a certain perspective, I've chosen to rewrite Eardogger from the ground up, replacing Node.js and PostgreSQL with Rust and Sqlite. I doubt you'll notice much difference when using the site. I had to make everyone log in again, but your personal bookmarklets should all still work as normal.</p>

<p>If you're the type of pervert who is <em>into that sort of thing,</em> I wrote a bit more about the why and the wherefore <a href="https://roadrunnertwice.dreamwidth.org/597714.html">over on my journal</a>, but the main upshot is that I've unlocked Scavenger Mode and can now run the site in a much wider range of hosting environments. (In fact, it's happily running on some old-fashioned shared web hosting at DreamHost, which I wrote off as infeasible several years back.)</p>

<p>But it's not <em>only</em> arcana this time around &mdash; I actually added a couple real features while I was in the mix:</p>

<ul>
  <li>Dark mode!!! No more zorching your eyes when reading in bed. For now this is strictly automatic; if your device or browser is on dark mode, so is Eardogger. If you need a manual setting instead, text me.</li>
  <li>Remote logout. The <a href="/account">account page</a> now has a list of all the browsers you're logged in on; if you left yourself logged in on someone else's computer by accident, you can log out of there from home. (I guess you're probably not staying up late surfing the web on the family PC at a sleepover anymore, but I still wanted this.)</li>
  <li>You can now change/remove your email address and delete your account, both available on the <a href="/account">account page</a>. Meant to add these from the start, but I got distracted or something.</li>
</ul>

<h2 id="history">Old news, aka "history"</h2>

<ul>
  <li>September 2019: Origin of Eardogger, written in JavaScript for Node.js. Prototyped on Glitch.com, then launched on Heroku. Minor adjustments to behavior throughout the fall. (<a href="https://roadrunnertwice.dreamwidth.org/575683.html">oblique manifesto</a> about bookmarks, <a href="https://roadrunnertwice.dreamwidth.org/575858.html">wip dev notes</a>, and <a href="https://roadrunnertwice.dreamwidth.org/576559.html">announcement post</a>)</li>
  <li>April 2020: Improved matching of sites with optional `m.blahblah` and `www.blahblah` subdomains.</li>
  <li>September 2021: Added token auth and "personal bookmarklet" generator to play nice with web browser tracking protections. Converted all backend code to TypeScript. (<a href="https://roadrunnertwice.dreamwidth.org/589024.html">journal post</a>)</li>
  <li>November 2022: Migrated to new infrastructure platforms (Fly.io and Neon.tech), no observable changes.</li>
  <li>June 2024: Rewrote the whole thing in Rust with Sqlite, in the hope of cheaper and easier hosting and maintenance. (<a href="https://roadrunnertwice.dreamwidth.org/597714.html">journal post</a>)</li>
</ul>

<h2 id="faq">Colophon</h2>

<p>If you ever want to see how I did something, feel free to peruse the source code:</p>

<ul>
  <li><a href="https://github.com/nfagerlund/eardogger-rs">The 2024-and-onward version</a> (Rust, Axum, Sqlite)</li>
  <li><a href="https://github.com/nfagerlund/eardogger">The 2019-2024 original recipe version</a> (TypeScript, Express, PostgreSQL)</li>
</ul>

{% endblock body %}
