{# The faq/news page. #}
{# Context: common: Common #}
{% extends "_layout.html.j2" %}
{% block body %}
<h2 id="what-is">What's Eardogger?</h2>

<p>Eardogger is a bookmark tool for binge-reading comics and books on the web.</p>

<p>I made it because there's lots of nice ways to follow an ongoing comic, but I couldn't find a nice way to <em>catch up on a backlog.</em> I kept losing my place, especially if I tried to pick up reading again on a different device.</p>

<p>Normal web browser bookmarks were too fiddly. What I wanted was something that acts like the receipt or bus pass marking my place in a physical book: <strong>there's one bookmark, and you move it to your new spot when you pause.</strong></p>

<p>So Eardogger does that.</p>

<h2 id="how-to">How to Use It</h2>

<ol>
  <li>Sign up for a free account.</li>
  <li><a href="/install">Install the "Mark my spot" and "Where was I" bookmarklets</a> on all your devices and browsers.</li>
  <li>To pause whatever you're reading, click "Mark my spot."
    <ul>
      <li>This updates your existing bookmark in just one click! (Or, if you didn't have a bookmark for that site yet, it'll ask you to make one.)</li>
    </ul>
  </li>
  <li>The <a href="/">Eardogger homepage</a> has a list of what you've been reading lately.</li>
  <li>If you left a tab open but then read further in that site on another device, click "Where was I" to catch up.</li>
</ol>

<h2 id="news">News</h2>

<h3>November 27, 2022</h3>

<p>I guess it's about time for the yearly-ish maintenance to this site! There've been some changes around here. Here's a brief rundown of everything that's going to be different going forward for my two or three semi-active users:</p>

<ul>
<li>&nbsp;</li>
</ul>

<p>...Yep: it was another round of internal or infrastructural updates with no perceptible effect on the function of the site.</p>

<p>What happened is that I'd been running Eardogger on Heroku's free tier (like the scrub that I am), and they decided this year that they were going to shut that free tier down and push all the hobby apps onto their paid plans. Which is absolutely 100% a fair enough decision that I don't begrudge them in the slightest! I've gotten a lot of value out of that free tier, and they didn't have to give me any of it. And they're probably pretty sick of hosting cryptominers or whatever.</p>

<p><strong>However.</strong> Although I'm happy to pay for what I use, Heroku's paid tiers — even the new cheaper ones they just added — are more expensive than an app like Eardogger can justify. I love all three of you, but I don't "ten-plus dollars every month for a single barely-used app" love you. So I had to hustle to get us onto some other platform(s).</p>

<p>I ended up going with <a href="https://fly.io">Fly</a> for the app container, and an upstart serverless Postgres thingy called <a href="https://neon.tech">Neon</a> for the database. Fly's free tier is quite generous (so I'm still living scrub life), but if I end up hosting bunch of other little containerized apps there, the bill for the surplus is more like $2 per. Neon doesn't even have paid tiers yet because it's baby, but it <em>looks</em> like their tech stack is actually novel enough to let them bill much more granularly than any of the existing Postgres-as-a-service outfits do, if they so choose. It'll be interesting to see how that shakes out!</p>

<h2 id="faq">Colophon</h2>

<p>If you ever want to make a website kinda-sorta like this one, feel free to peruse the source code:</p>

<ul>
  <li><a href="https://github.com/nfagerlund/eardogger-rs">The 2024-and-onward version</a>, written in Rust with Axum</li>
  <li><a href="https://github.com/nfagerlund/eardogger">The 2019-2024 original recipe version</a>, written in TypeScript with Express</li>
</ul>

{% endblock body %}
