{# This fragment is meant to be embedded in the logged-in front page. #}
{# Context: dogears_list: DogearsList #}
{% from "macro.pagination.html.j2" import pagination_links %}
<section class="dogears" id="dogears-fragment">
  {{ pagination_links(pagination=dogears_list.pagination, url="/", fragment_url="/fragments/dogears", fragment_element_id="dogears-fragment") }}

  <ul id="dogears">
    {% for dogear in dogears_list.dogears %}
      <li>
          <a href="{{dogear.current}}">{{dogear.display_name | default(dogear.prefix)}}</a>
          <span class="current">({{dogear.current}})</span>
          <span class="date">Last read: {{dogear.updated | short_date}}</span>
          <button type="button" class="delete-button delete-dogear" data-dogear-id="{{dogear.id}}">Delete</button>
      </li>
    {% endfor %}
  </ul>

  {{ pagination_links(pagination=dogears_list.pagination, url="/", fragment_url="/fragments/dogears", fragment_element_id="dogears-fragment") }}
</section>
