{# The login page. #}
{# Context: common: Common, login_page: LoginPage #}
{% extends "_layout.html.j2" %}
{% block body %}
<p>Eardogger is a bookmarking tool for reading webcomics, books, and other kinds of Long Stuff on the web. Resume where you paused last time, read a little further, and save your new place with one click. It's nice.</p>

<h2>Log In</h2>

{% if login_page.previously_failed %}
<div class="cartouche">
    <p>Login failed — couldn't find that username or password. Try again, maybe.</p>
</div>
{% endif %}

<form action="/login" method="post">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" />

  <label for="password">Password</label>
  <input type="password" id="password" name="password" />

  <input type="hidden" name="login_csrf_token" value="{{common.csrf_token}}" />
  <input type="hidden" name="return_to" value="{{login_page.return_to}}" />

  <button type="submit">Log in</button>
</form>

<h2>Or, Sign Up</h2>

<form action="/signup" method="post" id="signupform">
  <label for="new_username">New username (can use letters, numbers, -, and _)</label>
  <input type="text" id="new_username" name="new_username" />

  <label for="new_password">New password</label>
  <input type="password" id="new_password" name="new_password" />

  <label for="new_password_again">Confirm new password</label>
  <input type="password" id="new_password_again" name="new_password_again" />

  <label for="email">Email (optional)</label> <button type="button" class="help-reveal" data-help-target="help-email">(huh?)</button>
  <p id="help-email" class="help help-hidden">I don't actually want your email, tbh. But if you include it, I can help recover your password if you lose it. I might also send out warnings for downtime or major changes.</p>
  <input type="text" id="email" name="email" />

  <input type="hidden" name="login_csrf_token" value="{{common.csrf_token}}" />

  <button type="submit">Sign up</button>
</form>
{% endblock body %}
