{# The post-bookmarking page. #}
{# Context: common: Common, marked_page: MarkedPage #}
{% extends "_layout.html.j2" %}
{% block body %}
<section id="mark-success">
  {% if marked_page.slow_mode %}
    <div class="cartouche">
      <h2>Slow Mode</h2>
      <h3>Re-generate your bookmarklet to save faster!</h3>
    </div>
  {% endif %}

  <p>Saved your place in:</p>

  <p>
    {% for dogear in marked_page.updated_dogears %}
      <span class="serial-name">{{dogear.display_name | default(dogear.prefix)}}</span>{{", " if not loop.last}}
    {% endfor %}
  </p>

  <p><a href="{{marked_page.bookmarked_url}}">Returning to site</a> in:</p>

  <div id="countdown" data-returnto="{{marked_page.bookmarked_url}}"></div>
</section>
{% endblock body %}
