// Update existing dogear, or create a new dogear. Use token auth instead of
// session cookie.
// Template args: own_origin, token

(
  ()=>{
    let d = document;
    let t = {{token}};
    let e = {{own_origin}};
    let s = {
      position:'absolute',
      width:'300px',
      boxSizing:'border-box',
      left:'calc(50% - 150px)',
      padding:'30px 10px',
      boxShadow:'0 15px 20px black',
      borderRadius:'8px',
      textAlign:'center',
      fontSize:'20px',
      fontFamily:'sans-serif',
      background:'#FFF8EB',
      color:'black',
      zIndex:'40000'
    };
    let msg = (txt, auto)=>{
      let m = d.createElement('div');
      Object.assign(m.style, s);
      m.onclick = function(){m.remove();};
      m.innerHTML = txt;
      m.place = ()=>{m.style.top = `${window.scrollY + 100}px`; d.body.append(m);};
      m.auto = ()=>{window.setTimeout(()=>{m.remove()}, 1500);};

      m.place();
      if (auto) {
        m.auto();
      }
      return m;
    };
    let go = ()=>{
      d.location.href = e + '/mark/' + encodeURIComponent(d.location.href);
    };
    if (fetch) {
      let b = msg('🐶 Updating dogear...');
      fetch(e + '/api/v1/update', {
        method:'POST',
        mode:'cors',
        credentials:'omit',
        headers:{
          'Content-Type':'application/json',
          'Accept':'application/json',
          'Authorization':'Bearer ' + t
        },
        body:JSON.stringify({current: d.location.href})
      }).then(rs=>{
        if (rs.ok) {
          b.innerHTML = '✅ Done!';
          b.place();
          b.auto();
        } else if (rs.status === 400) {
          // explain yrself, possibly w/ link to update bookmarklet
          // expects an {error: "message"} object in the response
          rs.json().then(data=>{
            b.innerHTML = data.error;
            b.place();
          });
        } else {
          // other http error - 401 not authorized, or 404 bookmark doesn't
          // exist; navigate to old-style update/create page
          go();
        }
      }).catch(()=>{
        // request was never sent; navigate to old-style update page
        go();
      });
    } else {
      // fetch() not available
      go();
    }
  }
)();
