// Immediately jump to your dogeared location for the current site.
// Template args: own_origin

(
  () => {
    let l = document.location;
    l.href = {{own_origin}} + '/resume/' + encodeURIComponent(l.href);
  }
)();
